# Data collection

In [1]:
import pandas_datareader as pdr
from pandas_datareader import data
from datetime import datetime
start_date = '2014-08-01'
end_date = '2022-02-24'

In [2]:
#Collecting data from Yahoo and saving it
Btc_price= data.DataReader('BTC-USD','yahoo',start_date,end_date)
Btc_price

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-17,468.174011,452.421997,465.864014,457.334015,21056800,457.334015
2014-09-18,456.859985,413.104004,456.859985,424.440002,34483200,424.440002
2014-09-19,427.834991,384.532013,424.102997,394.795990,37919700,394.795990
2014-09-20,423.295990,389.882996,394.673004,408.903992,36863600,408.903992
2014-09-21,412.425995,393.181000,408.084991,398.821014,26580100,398.821014
...,...,...,...,...,...,...
2022-02-21,39394.437500,36950.476562,38423.210938,37075.281250,29280402798,37075.281250
2022-02-22,38359.855469,36488.933594,37068.769531,38286.027344,25493150450,38286.027344
2022-02-23,39122.394531,37201.816406,38285.281250,37296.570312,21849073843,37296.570312
2022-02-24,38968.839844,34459.218750,37278.566406,38332.609375,46383802093,38332.609375
2022-02-25,39630.324219,38111.343750,38333.746094,39214.218750,26545599159,39214.218750

In [3]:
Btc_price.to_csv('Bitcoin.csv')

In [4]:
Eth_price= data.DataReader('ETH-USD','yahoo',start_date,end_date)
Eth_price

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-11-09,329.451996,307.056000,308.644989,320.884003,893249984,320.884003
2017-11-10,324.717987,294.541992,320.670990,299.252991,885985984,299.252991
2017-11-11,319.453003,298.191986,298.585999,314.681000,842300992,314.681000
2017-11-12,319.153015,298.513000,314.690002,307.907990,1613479936,307.907990
2017-11-13,328.415009,307.024994,307.024994,316.716003,1041889984,316.716003
...,...,...,...,...,...,...
2022-02-21,2752.458496,2568.254395,2627.665527,2573.816162,18646392740,2573.816162
2022-02-22,2648.916748,2510.678711,2572.898682,2639.299316,16360200507,2639.299316
2022-02-23,2741.368408,2587.412842,2639.447021,2590.359619,13382637240,2590.359619
2022-02-24,2689.047607,2308.914795,2588.166260,2598.067139,29312342666,2598.067139
2022-02-25,2821.972412,2579.208008,2598.436279,2764.535645,17208902048,2764.535645

In [5]:
Eth_price.to_csv('Ethereum.csv')

In [6]:
lite_price= data.DataReader('LTC-USD','yahoo',start_date,end_date);

In [7]:
lite_price

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-17,5.170770,4.965950,5.085890,5.058550,3071840,5.058550
2014-09-18,5.065430,4.579960,5.065430,4.685230,4569260,4.685230
2014-09-19,4.755820,4.254350,4.687290,4.327770,3917450,4.327770
2014-09-20,4.616080,4.202190,4.329200,4.286440,5490660,4.286440
2014-09-21,4.300130,4.154990,4.263070,4.245920,2931220,4.245920
...,...,...,...,...,...,...
2022-02-21,114.312294,103.379593,110.835167,103.450493,980192105,103.450493
2022-02-22,107.606499,101.271523,103.430824,107.522797,902125484,107.522797
2022-02-23,110.810776,105.790092,107.518753,105.965950,740588315,105.965950
2022-02-24,106.205940,92.612610,105.941650,104.230492,1676181000,104.230492
2022-02-25,110.335930,102.055801,104.234917,109.266312,903266080,109.266312

In [8]:
lite_price.to_csv('litecoin.csv')

In [1]:
!Pip install Flask

Collecting Flask
  Downloading Flask-2.1.2-py3-none-any.whl (95 kB)
Requirement already satisfied: Jinja2>=3.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask) (3.0.3)
Requirement already satisfied: Werkzeug>=2.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask) (2.1.2)
Collecting click>=8.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata>=3.6.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask) (4.11.3)
Requirement already satisfied: colorama in d:\xul1\anaconda\envs\forex\lib\site-packages (from click>=8.0->Flask) (0.4.4)
Requirement already satisfied: zipp>=0.5 in d:\xul1\anaconda\envs\forex\lib\site-packages (from importlib-metadata>=3.6.0->Flask) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Jinja2>=3.0->Flask) (2.0.1)
Installing collected packages: itsdangerous, click, Flask
Successfully installed Flask-2.1.2 click-8.1.3 itsdangerous-2.1.2

In [2]:
!Pip install flask-cors

Collecting flask-cors
  Using cached Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: Flask>=0.9 in d:\xul1\anaconda\envs\forex\lib\site-packages (from flask-cors) (2.1.2)
Requirement already satisfied: Six in d:\xul1\anaconda\envs\forex\lib\site-packages (from flask-cors) (1.16.0)
Requirement already satisfied: click>=8.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask>=0.9->flask-cors) (8.1.3)
Requirement already satisfied: Werkzeug>=2.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask>=0.9->flask-cors) (2.1.2)
Requirement already satisfied: itsdangerous>=2.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask>=0.9->flask-cors) (2.1.2)
Requirement already satisfied: Jinja2>=3.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask>=0.9->flask-cors) (3.0.3)
Requirement already satisfied: importlib-metadata>=3.6.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Flask>=0.9->flask-cors) (4.11.3)
Requirement already satisfied: colorama in d:\xul1\anaconda\envs\forex\lib\site-packages (from click>=8.0->Flask>=0.9->flask-cors) (0.4.4)
Requirement already satisfied: zipp>=0.5 in d:\xul1\anaconda\envs\forex\lib\site-packages (from importlib-metadata>=3.6.0->Flask>=0.9->flask-cors) (3.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\xul1\anaconda\envs\forex\lib\site-packages (from Jinja2>=3.0->Flask>=0.9->flask-cors) (2.0.1)
Installing collected packages: flask-cors
Successfully installed flask-cors-3.0.10
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000002619326700>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/flask-cors/

In [5]:
!Pip install sklearn

Collecting sklearn

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/sklearn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/sklearn/

  Using cached sklearn-0.0-py2.py3-none-any.whl
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp39-cp39-win_amd64.whl (7.4 MB)
Collecting joblib>=1.0.0
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.3.2
  Downloading scipy-1.8.1-cp39-cp39-win_amd64.whl (36.9 MB)
Requirement already satisfied: numpy>=1.17.3 in d:\xul1\anaconda\envs\forex\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.1.1 scipy-1.8.1 sklearn-0.0 threadpoolctl-3.1.0