## DATA PROCESSING AND FEATURE ENGINEERING 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
#exporting the data
data=pd.read_csv('Players FIFA 21 English.csv')

In [3]:
data.head()

,Team,TEAM_CONTRACT,HEIGHT,WEIGHT,JOINED,VALUE,WAGE,SKILL,International_rating,HITS,Name,Age,Rating,Ball_control,Agility,Stamina,Mentality,Physic,Position
0,Manchester City,\n2015 ~ 2025,"5'11""",154lbs,"Aug 30, 2015",€127.5M,€370K,441,4 ★,\n173,K. De Bruyne,29,91,92,79,89,407,78,CM
1,Liverpool,\n2017 ~ 2023,"5'9""",157lbs,"Jul 1, 2017",€120.5M,€250K,406,3 ★,\n135,M. Salah,28,90,89,91,85,376,75,RW
2,Liverpool,\n2018 ~ 2023,"6'4""",203lbs,"Jan 1, 2018",€113M,€210K,363,3 ★,\n166,V. van Dijk,28,90,77,61,73,347,85,CB
3,Liverpool,\n2018 ~ 2024,"6'3""",201lbs,"Jul 19, 2018",€88M,€155K,138,3 ★,\n98,Alisson,27,89,30,40,32,140,90,GK
4,Tottenham Hotspur,\n2015 ~ 2023,"6'0""",172lbs,"Aug 28, 2015",€110M,€210K,403,3 ★,\n253,H. Son,27,89,85,86,89,349,70,LM

In [4]:
data.shape

(644, 19)

In [5]:
#check for unique values in categorical features
for i in ['Team','Name','Position']:
    print(f'unique items in {i} column are {data[i].nunique()}')

unique items in Team column are 20
unique items in Name column are 640
unique items in Position column are 15

In [6]:
#checking missing values
data.isnull().sum()

Team                    0
TEAM_CONTRACT           0
HEIGHT                  0
WEIGHT                  0
JOINED                  0
VALUE                   0
WAGE                    0
SKILL                   0
International_rating    0
HITS                    0
Name                    0
Age                     0
Rating                  0
Ball_control            0
Agility                 0
Stamina                 0
Mentality               0
Physic                  0
Position                0
dtype: int64

In [7]:
#checking the stats of the data
data.describe()

,SKILL,Age,Rating,Ball_control,Agility,Stamina,Mentality,Physic
count,644.000000,644.00000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000
mean,292.930124,24.38354,72.319876,66.257764,66.604037,65.464286,285.555901,67.518634
std,83.357013,4.81093,8.748437,16.591666,13.422436,15.419191,70.450395,10.448628
min,68.000000,16.00000,52.000000,12.000000,23.000000,16.000000,81.000000,38.000000
25%,255.000000,20.00000,66.000000,60.000000,58.000000,58.000000,248.000000,61.000000
50%,302.500000,24.00000,74.000000,71.000000,68.000000,68.000000,299.000000,69.000000
75%,353.250000,28.00000,78.000000,77.000000,76.000000,76.000000,337.000000,75.000000
max,441.000000,38.00000,91.000000,92.000000,95.000000,96.000000,413.000000,90.000000

In [8]:
#checking column data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Team                  644 non-null    object
 1   TEAM_CONTRACT         644 non-null    object
 2   HEIGHT                644 non-null    object
 3   WEIGHT                644 non-null    object
 4   JOINED                644 non-null    object
 5   VALUE                 644 non-null    object
 6   WAGE                  644 non-null    object
 7   SKILL                 644 non-null    int64
 8   International_rating  644 non-null    object
 9   HITS                  644 non-null    object
 10  Name                  644 non-null    object
 11  Age                   644 non-null    int64
 12  Rating                644 non-null    int64
 13  Ball_control          644 non-null    int64
 14  Agility               644 non-null    int64
 15  Stamina               644 non-null    int64
 16  Mentality             644 non-null    int64
 17  Physic                644 non-null    int64
 18  Position              644 non-null    object
dtypes: int64(8), object(11)
memory usage: 95.7+ KB

In [9]:
#Rearranging and fixing column names
data.columns=[ 'Team','Team_contract','Height','Weight','Joined','Value', 'Wage',
       'Skill', 'International_rating', 'Hits', 'Name','Age', 'Rating',
       'Ball_control', 'Agility', 'Stamina', 'Mentality', 'Physic',
       'Position']

In [10]:
data=data[[ 'Name','Team','Team_contract','Joined','Age','Height','Weight',
       'Skill', 'International_rating', 'Hits', 'Rating',
       'Ball_control', 'Agility', 'Stamina', 'Mentality', 'Physic',
       'Position','Value','Wage']]

In [11]:
data.head()

,Name,Team,Team_contract,Joined,Age,Height,Weight,Skill,International_rating,Hits,Rating,Ball_control,Agility,Stamina,Mentality,Physic,Position,Value,Wage
0,K. De Bruyne,Manchester City,\n2015 ~ 2025,"Aug 30, 2015",29,"5'11""",154lbs,441,4 ★,\n173,91,92,79,89,407,78,CM,€127.5M,€370K
1,M. Salah,Liverpool,\n2017 ~ 2023,"Jul 1, 2017",28,"5'9""",157lbs,406,3 ★,\n135,90,89,91,85,376,75,RW,€120.5M,€250K
2,V. van Dijk,Liverpool,\n2018 ~ 2023,"Jan 1, 2018",28,"6'4""",203lbs,363,3 ★,\n166,90,77,61,73,347,85,CB,€113M,€210K
3,Alisson,Liverpool,\n2018 ~ 2024,"Jul 19, 2018",27,"6'3""",201lbs,138,3 ★,\n98,89,30,40,32,140,90,GK,€88M,€155K
4,H. Son,Tottenham Hotspur,\n2015 ~ 2023,"Aug 28, 2015",27,"6'0""",172lbs,403,3 ★,\n253,89,85,86,89,349,70,LM,€110M,€210K

## Feature engeneering

In [12]:
data2=data.copy()

In [13]:
#creating year joined column
data2['Year_joined']=data2['Joined'].apply(lambda x:x.split(',')[1])

In [14]:
#removing '\n'
data2['Team_contract']=data2['Team_contract'].apply(lambda x: x.replace('\n',''))

In [15]:
#some players are on loan so they have loan contract
data2['Team_contract'].unique()

array(['2015 ~ 2025', '2017 ~ 2023', '2018 ~ 2023', '2018 ~ 2024',
       '2015 ~ 2023', '2010 ~ 2024', '2016 ~ 2023', '2017 ~ 2024',
       '2020 ~ 2025', '2011 ~ 2021', '2012 ~ 2022', '2012 ~ 2023',
       '2011 ~ 2023', '2019 ~ 2024', '2017 ~ 2025', '2016 ~ 2022',
       '2020 ~ 2022', '2020 ~ 2024', '2019 ~ 2025', '2020 ~ 2026',
       '2014 ~ 2023', '2016 ~ 2021', '2013 ~ 2022',
       'Jun 30, 2021 On Loan', '2012 ~ 2025', '2020 ~ 2023',
       '2016 ~ 2024', '2015 ~ 2024', '2019 ~ 2023', '2018 ~ 2022',
       '2017 ~ 2022', '2018 ~ 2025', '2019 ~ 2022', '2016 ~ 2025',
       '2013 ~ 2025', '2011 ~ 2025', '2019 ~ 2021', '2009 ~ 2023',
       '2014 ~ 2024', '2015 ~ 2022', '2015 ~ 2021', '2019 ~ 2026',
       '2014 ~ 2022', '2010 ~ 2025', '2021 ~ 2025', '2021 ~ 2026',
       '2016 ~ 2026', '2014 ~ 2025', '2017 ~ 2021', '2021 ~ 2021',
       '2007 ~ 2021', '2018 ~ 2021', '2004 ~ 2022', '2021 ~ 2022',
       'Jun 30, 2022 On Loan', '2020 ~ 2021', '2010 ~ 2022',
       '2011 ~ 2022', '2012 ~ 2021', '2014 ~ 2021', '2021 ~ 2024',
       '2013 ~ 2023', '2010 ~ 2023', '2013 ~ 2021', '2021 ~ 2023',
       '2018 ~ 2026'], dtype=object)

In [16]:
#only players on loan have their loan contracts either ending on June30 2021 or jun30 2022
#Identifying players on loan
on_loan=data2[(data2['Team_contract']=='Jun 30, 2021 On Loan') | (data2['Team_contract']=='Jun 30, 2022 On Loan')]
on_loan

,Name,Team,Team_contract,Joined,Age,Height,Weight,Skill,International_rating,Hits,Rating,Ball_control,Agility,Stamina,Mentality,Physic,Position,Value,Wage,Year_joined
46,M. Ødegaard,Arsenal,"Jun 30, 2021 On Loan","Apr 29, 2015",21,"5'10""",150lbs,416,3 ★,\n258,83,85,85,78,355,62,CAM,€58.5M,€135K,2015
77,G. Bale,Tottenham Hotspur,"Jun 30, 2021 On Loan","Sep 1, 2013",30,"6'1""",181lbs,419,4 ★,\n135,82,83,78,61,354,70,RM,€29.5M,€170K,2013
81,A. Areola,Fulham,"Jun 30, 2021 On Loan","Jul 1, 2010",27,"6'5""",207lbs,103,2 ★,\n85,82,22,58,38,142,80,GK,€30M,€71K,2010
151,J. Lingard,West Ham United,"Jun 30, 2021 On Loan","Jul 1, 2011",27,"5'9""",137lbs,371,2 ★,\n121,79,80,83,79,359,68,CAM,€18.5M,€110K,2011
157,Willian José,Wolverhampton Wanderers,"Jun 30, 2021 On Loan","Jul 31, 2016",28,"6'2""",201lbs,334,2 ★,\n37,79,80,65,68,343,81,ST,€18M,€38K,2016
163,R. Barkley,Aston Villa,"Jun 30, 2021 On Loan","Jan 5, 2018",26,"6'2""",168lbs,385,2 ★,\n60,78,82,65,65,346,72,CAM,€16.5M,€81K,2018
173,Vinícius,Tottenham Hotspur,"Jun 30, 2021 On Loan","Jul 20, 2019",25,"6'3""",183lbs,302,1 ★,\n86,78,78,68,77,342,82,ST,€19M,€16K,2019
189,Dani Ceballos,Arsenal,"Jun 30, 2021 On Loan","Jul 14, 2017",23,"5'10""",150lbs,387,2 ★,\n102,77,83,78,75,349,67,CM,€14.5M,€100K,2017
191,M. Ryan,Arsenal,"Jun 30, 2021 On Loan","Jul 1, 2017",28,"6'0""",181lbs,117,1 ★,\n30,77,24,53,34,162,76,GK,€9M,€43K,2017
200,R. Olsen,Everton,"Jun 30, 2021 On Loan","Jul 24, 2018",30,"6'5""",190lbs,100,1 ★,\n23,77,18,32,37,141,77,GK,€7M,€35K,2018
219,J. Andersen,Fulham,"Jun 30, 2021 On Loan","Jul 12, 2019",24,"6'4""",198lbs,285,1 ★,\n70,77,67,48,69,295,78,CB,€15M,€44K,2019
220,A. Lookman,Fulham,"Jun 30, 2021 On Loan","Jul 25, 2019",22,"5'9""",157lbs,334,1 ★,\n103,77,80,90,74,305,62,LM,€21.5M,€41K,2019
238,J. Harrison,Leeds United,"Jun 30, 2021 On Loan","Jan 30, 2018",23,"5'9""",154lbs,341,1 ★,\n99,76,76,83,85,303,68,LM,€12M,€80K,2018
239,O. Kabak,Liverpool,"Jun 30, 2021 On Loan","Jul 1, 2019",20,"6'1""",190lbs,271,1 ★,\n140,76,72,64,65,289,79,CB,€15.5M,€18K,2019
249,T. Minamino,Southampton,"Jun 30, 2021 On Loan","Jan 1, 2020",25,"5'9""",148lbs,367,1 ★,\n72,76,80,89,79,322,63,RW,€9M,€74K,2020
250,T. Walcott,Southampton,"Jun 30, 2021 On Loan","Jan 17, 2018",31,"5'9""",150lbs,367,3 ★,\n46,76,78,79,64,310,60,RM,€6M,€66K,2018
251,C. Dawson,West Ham United,"Jun 30, 2021 On Loan","Jul 1, 2019",30,"6'2""",170lbs,255,2 ★,\n15,76,67,62,72,327,76,CB,€6M,€17K,2019
257,O. Yokuşlu,West Bromwich Albion,"Jun 30, 2021 On Loan","Jul 2, 2018",26,"6'3""",174lbs,358,1 ★,\n40,76,76,61,87,356,83,CDM,€9M,€21K,2018
269,M. Batshuayi,Crystal Palace,"Jun 30, 2021 On Loan","Jul 3, 2016",26,"6'0""",172lbs,303,2 ★,\n76,76,77,75,64,293,72,ST,€9M,€77K,2016
296,A. Maitland-Niles,West Bromwich Albion,"Jun 30, 2021 On Loan","Oct 24, 2014",22,"5'10""",154lbs,322,1 ★,\n91,75,76,79,82,356,72,CDM,€8.5M,€49K,2014
299,M. Lemina,Fulham,"Jun 30, 2021 On Loan","Aug 8, 2017",26,"6'0""",187lbs,366,2 ★,\n33,75,78,70,76,356,75,CM,€6.5M,€46K,2017
300,R. Loftus-Cheek,Fulham,"Jun 30, 2021 On Loan","Jun 3, 2013",24,"6'3""",194lbs,352,1 ★,\n44,75,79,68,68,332,75,RM,€7.5M,€58K,2013
309,J. Mateta,Crystal Palace,"Jun 30, 2022 On Loan","Jul 1, 2018",23,"6'4""",194lbs,273,1 ★,\n39,75,73,69,65,298,77,ST,€9M,€24K,2018
333,J. Willock,Newcastle United,"Jun 30, 2021 On Loan","Jul 1, 2016",20,"6'1""",168lbs,330,1 ★,\n190,74,76,74,74,340,69,CAM,€9.5M,€43K,2016
343,C. Gallagher,West Bromwich Albion,"Jun 30, 2021 On Loan","Feb 7, 2017",20,"6'0""",163lbs,335,1 ★,\n105,74,74,67,76,338,65,CM,€9M,€46K,2017
344,M. Diagne,West Bromwich Albion,"Jun 30, 2021 On Loan","Jan 31, 2019",28,"6'3""",190lbs,291,1 ★,\n78,74,70,41,59,285,73,ST,€4.3M,€56K,2019
348,O. Aina,Fulham,"Jun 30, 2021 On Loan","Jul 1, 2019",23,"6'0""",181lbs,316,1 ★,\n35,74,72,73,75,319,73,RB,€5.5M,€27K,2019
379,R. Aït Nouri,Wolverhampton Wanderers,"Jun 30, 2021 On Loan","Jul 1, 2018",19,"5'10""",154lbs,309,1 ★,\n153,73,73,71,65,287,51,LWB,€7M,€9K,2018
408,J. Maja,Fulham,"Jun 30, 2021 On Loan","Jan 26, 2019",21,"5'11""",163lbs,310,1 ★,\n38,72,74,68,62,255,58,ST,€5.5M,€18K,2019
471,S. Carson,Manchester City,"Jun 30, 2021 On Loan","Jun 12, 2015",34,"6'3""",190lbs,88,2 ★,\n20,67,20,38,28,117,70,GK,€170K,€7K,2015
483,Vítor Ferreira,Wolverhampton Wanderers,"Jun 30, 2021 On Loan","Jul 1, 2018",20,"5'8""",141lbs,331,1 ★,\n32,66,70,90,63,309,49,CM,€2.1M,€3K,2018

In [17]:
#Creating an on loan column
data2['On_loan']=data2['Team_contract'].apply(lambda x:1 if 'on loan'in x.lower() else 0)

In [18]:
def impute_contract_end(cols):
    '''this function slices the end of contract dates'''
    team_contract=cols[0]
    on_loan=cols[1]
    if on_loan==0:
        return team_contract[7:12]
    else:
        return team_contract[8:12]

In [19]:
#creating endcontract column
data2['Contract_end']=data2[['Team_contract','On_loan']].apply(impute_contract_end,axis=1)

In [20]:
#changing height and weight from imperial to metric conversion system
#(feet,inches to meters,centimeters)
def imperial_height_converter(height):
    height=height.replace('"','')
    return round(((float(height[0])*12) + float(height[2:]))*0.0254,2)

#(pounds to kgs)
def imperial_weight_converter(weight):
    weight=weight.replace('lbs','')
    return round(float(weight)*0.453592)

In [21]:
data2['Height']=data2['Height'].apply(imperial_height_converter)
data2['Weight']=data2['Weight'].apply(imperial_weight_converter)

In [22]:
#Cleaning international_rating column
data2['International_rating']=data2['International_rating'].apply(lambda x:x.split(' ')[0])

In [23]:
#converting wage columns to float 
def wage_converter(wage):
    
    if 'K' in wage:
        #removing euro sign by slicing
        num1=wage[1:].replace('K','')
        return float(num1)*1000
    else:
        num1=wage[1:]
        return (float(num1))

#converting value to float
def value_converter(value):
    
    if 'M' in value:
        #removing euro sign by slicing
        num2=value[1:].replace('M','')
        return float(num2)*1000000
    elif 'K' in value:
        num2=value[1:].replace('K','')
        return float(num2)*1000
    else:
        num2=value[1:]
        return (float(num2))

In [24]:
data2['Value']=data2['Value'].apply(value_converter)
data2['Wage']=data2['Wage'].apply(wage_converter)

In [25]:
data2['Current_year']=2021

In [26]:
#creating new column
data2['Remaining_contract_years']=data2['Contract_end'].astype('float')-data2['Current_year']

In [27]:
def years_spent_in_club(cols):
    '''this function calculates years spent on a club given a player is on loan or not'''
    year_joined=cols[0]
    on_loan=cols[1]
    current_year=cols[2]
    if on_loan==0:
        return current_year-float(year_joined)
    else:
        #On average players on loan last one season or less,some of them are not even from the English Premier League
        #So i will use 1 year as the duration of those players
        return 1

In [28]:
data2['Years_in_the_club']=data2[['Year_joined','On_loan','Current_year']].apply(years_spent_in_club,axis=1)

In [29]:
data2.head()

,Name,Team,Team_contract,Joined,Age,Height,Weight,Skill,International_rating,Hits,...,Physic,Position,Value,Wage,Year_joined,On_loan,Contract_end,Current_year,Remaining_contract_years,Years_in_the_club
0,K. De Bruyne,Manchester City,2015 ~ 2025,"Aug 30, 2015",29,1.80,70,441,4,\n173,...,78,CM,127500000.0,370000.0,2015,0,2025,2021,4.0,6.0
1,M. Salah,Liverpool,2017 ~ 2023,"Jul 1, 2017",28,1.75,71,406,3,\n135,...,75,RW,120500000.0,250000.0,2017,0,2023,2021,2.0,4.0
2,V. van Dijk,Liverpool,2018 ~ 2023,"Jan 1, 2018",28,1.93,92,363,3,\n166,...,85,CB,113000000.0,210000.0,2018,0,2023,2021,2.0,3.0
3,Alisson,Liverpool,2018 ~ 2024,"Jul 19, 2018",27,1.91,91,138,3,\n98,...,90,GK,88000000.0,155000.0,2018,0,2024,2021,3.0,3.0
4,H. Son,Tottenham Hotspur,2015 ~ 2023,"Aug 28, 2015",27,1.83,78,403,3,\n253,...,70,LM,110000000.0,210000.0,2015,0,2023,2021,2.0,6.0

In [30]:
data2.describe()

,Age,Height,Weight,Skill,Rating,Ball_control,Agility,Stamina,Mentality,Physic,Value,Wage,On_loan,Current_year,Remaining_contract_years,Years_in_the_club
count,644.00000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,644.000000,6.440000e+02,644.000000,644.000000,644.0,644.000000,644.000000
mean,24.38354,1.821087,75.416149,292.930124,72.319876,66.257764,66.604037,65.464286,285.555901,67.518634,1.350454e+07,49235.714286,0.048137,2021.0,1.905280,3.180124
std,4.81093,0.071145,7.696263,83.357013,8.748437,16.591666,13.422436,15.419191,70.450395,10.448628,2.025241e+07,46939.401034,0.214221,0.0,1.278621,2.323424
min,16.00000,1.630000,56.000000,68.000000,52.000000,12.000000,23.000000,16.000000,81.000000,38.000000,6.000000e+04,500.000000,0.000000,2021.0,0.000000,0.000000
25%,20.00000,1.780000,70.000000,255.000000,66.000000,60.000000,58.000000,58.000000,248.000000,61.000000,1.175000e+06,10000.000000,0.000000,2021.0,1.000000,1.000000
50%,24.00000,1.800000,75.000000,302.500000,74.000000,71.000000,68.000000,68.000000,299.000000,69.000000,5.500000e+06,40500.000000,0.000000,2021.0,2.000000,3.000000
75%,28.00000,1.880000,80.000000,353.250000,78.000000,77.000000,76.000000,76.000000,337.000000,75.000000,1.650000e+07,71000.000000,0.000000,2021.0,3.000000,4.000000
max,38.00000,2.010000,100.000000,441.000000,91.000000,92.000000,95.000000,96.000000,413.000000,90.000000,1.275000e+08,370000.000000,1.000000,2021.0,5.000000,17.000000

In [31]:
data2.columns

Index(['Name', 'Team', 'Team_contract', 'Joined', 'Age', 'Height', 'Weight',
       'Skill', 'International_rating', 'Hits', 'Rating', 'Ball_control',
       'Agility', 'Stamina', 'Mentality', 'Physic', 'Position', 'Value',
       'Wage', 'Year_joined', 'On_loan', 'Contract_end', 'Current_year',
       'Remaining_contract_years', 'Years_in_the_club'],
      dtype='object')

In [33]:
#splitting the data to train test split before further data preprocessing to avoid data leakage
from sklearn.model_selection import train_test_split

In [34]:
x=data2.drop('Wage',axis=1)
y=data2['Wage']

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [36]:
#Joining x-train and y_train
Train_data = (x_train.join(y_train)).reset_index(drop=True)
Train_data.head()

,Name,Team,Team_contract,Joined,Age,Height,Weight,Skill,International_rating,Hits,...,Physic,Position,Value,Year_joined,On_loan,Contract_end,Current_year,Remaining_contract_years,Years_in_the_club,Wage
0,C. Walton,Brighton & Hove Albion,2013 ~ 2022,"Jul 1, 2013",24,1.96,72,88,1,\n23,...,65,GK,2100000.0,2013,0,2022,2021,1.0,8.0,20000.0
1,N. Redmond,Southampton,2016 ~ 2023,"Jul 1, 2016",26,1.73,69,360,2,\n29,...,53,LM,11500000.0,2016,0,2023,2021,2.0,5.0,52000.0
2,Bruno Fernandes,Manchester United,2020 ~ 2025,"Jan 30, 2020",25,1.78,69,433,2,\n196,...,78,CAM,121000000.0,2020,0,2025,2021,4.0,1.0,240000.0
3,F. Nmecha,Manchester City,2018 ~ 2021,"Jul 1, 2018",19,1.85,74,291,1,\n71,...,60,CAM,1000000.0,2018,0,2021,2021,0.0,3.0,10000.0
4,L. Milivojević,Crystal Palace,2017 ~ 2023,"Feb 1, 2017",29,1.85,80,365,1,\n26,...,77,CDM,6500000.0,2017,0,2023,2021,2.0,4.0,46000.0

In [37]:
#Joining x-test and y-test
Test_data=(x_test.join(y_test)).reset_index(drop=True)
Test_data.head()

,Name,Team,Team_contract,Joined,Age,Height,Weight,Skill,International_rating,Hits,...,Physic,Position,Value,Year_joined,On_loan,Contract_end,Current_year,Remaining_contract_years,Years_in_the_club,Wage
0,L. Dendoncker,Brighton & Hove Albion,2020 ~ 2022,"Aug 7, 2020",19,1.88,76,205,1,\n5,...,63,CB,300000.0,2020,0,2022,2021,1.0,1.0,4000.0
1,J. Soule,West Bromwich Albion,2017 ~ 2022,"Nov 30, 2017",19,1.73,58,229,1,\n15,...,38,ST,525000.0,2017,0,2022,2021,1.0,4.0,7000.0
2,B. Koumetio,Liverpool,2019 ~ 2022,"Jan 23, 2019",17,1.96,81,172,1,\n29,...,60,CB,500000.0,2019,0,2022,2021,1.0,2.0,500.0
3,C. Adams,Southampton,2019 ~ 2024,"Jul 1, 2019",23,1.78,70,322,1,\n77,...,77,ST,8500000.0,2019,0,2024,2021,3.0,2.0,44000.0
4,L. Shaw,Manchester United,2014 ~ 2023,"Jun 27, 2014",24,1.80,75,366,2,\n122,...,79,LB,38500000.0,2014,0,2023,2021,2.0,7.0,105000.0

In [38]:
#saving the train and test set
Train_data.to_csv(r'D:\data\Train_data.csv',index=False)
Test_data.to_csv(r'D:\data\Test_data.csv',index=False)